body{
    display: grid;
    grid-template-areas: 
    "filters main cart";
    grid-template-columns: 20vw 1fr 20vw;
    margin: 10px 20px;

    @media(max-width: 600px){
        display: flex;
        flex-direction: column;
    }
}

div .filters{
    grid-area: filters;
    width: 300px;
    margin-left: 0;
}

.products-container{
    grid-area: main;
}

div .shoppingCart{
    grid-area: cart;
    width: 260px;
}

select{
    margin-top: 10px;
    margin-bottom: 10px;
}


.products-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

#qnt-products{
    @media(max-width: 600px){
        margin: auto;
    }
}

.producsts-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    padding: 16px;

    @media(max-width: 600px){
        display: flex;
        flex-direction: column;
    }
}

.card-info{
    padding: 10px;
}

.card-container img{
    @media(max-width: 600px){
        width: 465px;
    }
}

.card-container .addToCart{
    text-align: center;
}

.cart-container{
    display: grid;
    gap: 8px;    
}

.item-container{
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;

    @media(max-width: 800px){
        display: flex;
        flex-direction: column;
    }
}